.content {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 70px;
    padding: 12px;
    flex-wrap: wrap;
    margin-left: 0rem;
  }
  .title {
    text-align: center;
    color: black;
  }
  