*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.choice {
        margin-left: 0.8rem;
        background-color: white;
        color: black;
        border: 3px solid #4CAF50;
        border-radius: 0.8rem;
        transition-duration: 0.1s;
      
}
.choice:hover {
        background-color: #4CAF50; /* Green */
        color: white;
      
  }
button:hover{
    background-color: lightseagreen;
}
.submitanswer{
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;

}

.submitanswer:hover{
    background-color: #4CAF50;
}

.question{
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    width: max-content;

}

.editquestion{
    margin: 10rem;
}